# ignore all
*
*/

# unignore all with extensions
!*.*

# unignore makefile
!Makefile

# ignore files
*.ipynb
*.eps
*.swp
*.csv
*.npy
*.h5
.DS_store


# ignore folders
.ipynb_checkpoints/
__pycache__/
flamelets/
OutSteady/
tables/
